<ion-view title="Daily Input">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Text</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-select">
                <span class="input-label">Select</span>
                <select></select>
            </label>
            <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
            <ion-item class="range range-positive">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>
